Repository Bluette1/vibes-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop -A, bundle exec rake test

.lintstagedrc.json:

{
  "*.rb": ["bundle exec rubocop -A", "bundle exec rake test"],
  "Gemfile": ["bundle exec rubocop -A"]
}

feat: Audios route
  app/controllers/api/audios_controller.rb
  app/models/audio.rb
  config/routes.rb
  db/seeds.rb
  http.rest
Due: bundle exec rubocop -A, bundle exec rake test

chore: Run rails:db seed
  db/seeds.rb
Due: bundle exec rubocop -A, bundle exec rake test

chore: Heroku Deployment
  db/seeds.rb
Due: bundle exec rubocop -A, bundle exec rake test

fix: Modify DB Config
  config/database.yml
Due: none

chore: Prep for Deployment
  config/database.yml
Due: none

fix: GitHub Actions Check
  config/database.yml
Due: none

fix: Update Seeding Data
  db/seeds.rb
Due: bundle exec rubocop -A, bundle exec rake test

feat: Set up Redis API Caching
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/api/audios_controller.rb
  app/controllers/api/images_controller.rb
  config/initializers/redis.rb
  config/routes.rb
Due: bundle exec rubocop -A, bundle exec rake test

feat: Implement Email Notification Reminder
  Gemfile
  Gemfile.lock
  app/mailers/user_mailer.rb
  app/sidekiq/email_reminder_job.rb
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/sidekiq.rb
  config/sidekiq.yml
  db/migrate/20250221120001_add_email_notifications_enabled_to_users.rb
  db/schema.rb
  spec/mailers/previews/user_mailer_preview.rb
  spec/mailers/user_mailer_spec.rb
  spec/sidekiq/email_reminder_job_spec.rb
Due: bundle exec rubocop -A, bundle exec rake test

chore: Moding Seeds
  db/seeds.rb
Due: bundle exec rubocop -A, bundle exec rake test

fix: Adjust Validation of Audio Type
  app/models/audio.rb
Due: bundle exec rubocop -A, bundle exec rake test

feat: Store User Session Settings in Database
  app/controllers/api/user_preferences_controller.rb
  app/models/user.rb
  app/models/user_preference.rb
  config/routes.rb
  db/migrate/20250308192322_create_user_preferences.rb
  db/schema.rb
  http.rest
  spec/models/user_preference_spec.rb
Due: bundle exec rubocop -A, bundle exec rake test

chore: Update README
  README.md
  db/seeds.rb
Due: bundle exec rubocop -A, bundle exec rake test

Clean up Images Data
  app/controllers/api/images_controller.rb
Due: bundle exec rubocop -A, bundle exec rake test

Update Data Sources
  app/controllers/api/images_controller.rb
  db/seeds.rb
Due: bundle exec rubocop -A, bundle exec rake test

Fix Seed Data
  db/seeds.rb
Due: bundle exec rubocop -A, bundle exec rake test

Test if Db Image's url exists
  app/controllers/api/images_controller.rb
Due: bundle exec rubocop -A, bundle exec rake test

chore: migrate DB config and docs for Supabase
  .env_example
  README.md
  config/database.yml
  db/schema.rb
  scripts/migrate_to_supabase.sh
Due: bundle exec rubocop -A, bundle exec rake test

Chore/supabase migration (#18)
  .env_example
  README.md
  app/controllers/api/images_controller.rb
  config/database.yml
  db/schema.rb
  db/seeds.rb
  scripts/migrate_to_supabase.sh
Due: bundle exec rubocop -A, bundle exec rake test

Update pg
  Gemfile.lock
Due: none

fix: replace invalid platform :windows with valid mingw/mswin/x64_mingw
  Gemfile
Due: bundle exec rubocop -A

fix: replace invalid :windows platform in debug gem with valid platforms
  Gemfile
Due: bundle exec rubocop -A

Change host
  README.md
  config/environments/production.rb
Due: bundle exec rubocop -A, bundle exec rake test

fix: remove docker syntax directive to resolve Render buildkit error
  Dockerfile
Due: none

Fixing CI
  .github/workflows/ruby.yml
  db/schema.rb
Due: bundle exec rubocop -A, bundle exec rake test

CI Fixes
  .github/workflows/ruby.yml
Due: none

Fix Yml File
  .github/workflows/ruby.yml
Due: none
